
main{
    background-color: #F7F5F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 50px;
}

.login-container {
    background-color: white;
    border-radius: 30px;
    max-width: 900px; 
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    padding: 40px;
    gap: 50px; 
    align-items: stretch;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);

    position: relative;
    z-index: 1;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(232, 93, 26, 0.15) 0%, rgba(255, 255, 255, 0) 70%);

    filter: blur(80px);
    border-radius: 50%; 
    z-index: -1;        
    opacity: 0.8;       
    pointer-events: none;
}

.login-conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-conteudo h1 {
    font-family: "Montserrat", sans-serif;
    color: #2E2D2D;
    margin-bottom: 20px;
    margin-top: 10px;
}

.campo_login {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

.campo_login label {
    font-family: "Inter", sans-serif;
    margin-bottom: 5px;
    color: #2E2D2D;
    font-weight: bold;
}

.campo_login input {
    padding: 12px;
    border: 2px solid #000;
    border-radius: 8px;
    outline: none;
}


.divisor {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #2E2D2D;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.divisor hr {
    flex: 1; 
    border: none;
    border-top: 2px solid #2E2D2D;
}

.divisor span {
    padding: 0 15px;
}

.btn-social {
    width: 100%;
    background-color: white;
    color: #2E2D2D;
    border: 2px solid #2E2D2D; 
    border-radius: 30px; 
    padding: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    transition: 0.3s;
}

.btn-social:hover {
    background-color: #f0f0f0;
}

.btn-entrar {
    width: 100%;
    background-color: #E85D1A;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-entrar:hover {
    background-color: #d15015; 
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(232, 93, 26, 0.4);
}

.login-imagem {
    flex: 1;
    display: flex;
}

.login-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* ------------------- Celular -------------------------*/

@media (max-width: 768px) {
    .login-container {
        flex-direction: column; 
        padding: 20px;
        width: 100% !important
    }

    .login-imagem {
        display: none; 
    }
}

/* ------------------- tablet -------------------------*/

@media (max-width: 768px) {
    .login-container {
        flex-direction: column; 
        padding: 20px;
        width: 100% !important;
    }

    .login-imagem {
        display: none; 
    }
}

/*------------------Posicionamento das ferramentas de acessibilidade------------------------*/

.enabled{
    position: fixed !important;
    bottom: 20px !important;
    right: 10px !important;
    left: auto !important;
}

div#userwayAccessibilityIcon, 
.userway_buttons_wrapper, 
.u_w {

    bottom: 20px !important;
    left: 30px !important;
    right: auto !important; 
    top: auto !important;
}