@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: Bricolage Grotesque;
}
#s1{
    position: relative;
    width: 100%;
    height: 600px;
    float: left;
    background-color: #1C2333;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
}
.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #E85D1A;
    margin-top: 100px;
    font-size: 45px;
    height: 48px;
    font-family: Montserrat;
}
.material-symbols--headphones-outline-rounded {
  display: inline-block;
  width: 45px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23E85D1A' d='M7 21H5q-.825 0-1.412-.587T3 19v-7q0-1.875.713-3.512t1.924-2.85t2.85-1.925T12 3t3.513.713t2.85 1.924t1.925 2.85T21 12v7q0 .825-.587 1.413T19 21h-2q-.825 0-1.412-.587T15 19v-4q0-.825.588-1.412T17 13h2v-1q0-2.925-2.037-4.962T12 5T7.038 7.038T5 12v1h2q.825 0 1.413.588T9 15v4q0 .825-.587 1.413T7 21m0-6H5v4h2zm10 0v4h2v-4zM7 15H5zm10 0h2z'/%3E%3C/svg%3E");
}
.titulo{
    position: relative;
    text-align: center;
    color: white;
    margin-top: 60px;
    font-size: 60px;
    height: 60px;
    font-weight:bold;
    font-family: Montserrat
}
.titulo span{
    color: #E85D1A;
}
.encontre{
    position: relative;
    color: #B8B8B8;
    font-size: 30px;
    height: 67px;
    width: 40%;
    margin: 10px auto;
    text-align: center;
}
#input{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: center;
}
#pesquisa{
    position: relative;
    width: 45%;
    height: 60px;
    border-radius: 20px;
    text-align: justify;
    font-size: 30px;
    color: rgba(0, 0, 0, 06);
    padding-left: 5%;
}

.material-symbols--search-rounded {
  position: absolute;
  top:15px;
  z-index: 2;
  left: 29%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23767676' d='M9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l5.6 5.6q.275.275.275.7t-.275.7t-.7.275t-.7-.275l-5.6-5.6q-.75.6-1.725.95T9.5 16m0-2q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
}
article{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.perguntas{
    position: relative;
    color: #1C2333;
    margin-top: 80px;
    font-size: 60px;
    height: 60px;
    font-family:Montserrat;
    font-weight:bold
}
.reunimos{
    position: relative;
    color: #1C2333;
    font-size: 30px;
    height: 67px;
    width: 50%;
    text-align: center;
    margin-top: 20px;
}
#s2{
    position: relative;
    width: 70%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    
}

.geral{
    position: relative;
    height: 300px;
    width: 30%;
    background-color: white;
    border-radius: 30px;
    border: 1px solid gray;
}
.geralh3{
    position: relative;
    margin-left: 10%;
    font-size: 24px;
}
.geralp{
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    position: relative;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;

}

.geralp1{
    color: #E85D1A;
    position: relative;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    align-items: center;

    
}
.ep--right {
    position: relative;
  display: inline-block;
  top:5px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23E85D1A' d='M754.8 480H160a32 32 0 1 0 0 64h594.8L521.3 777.3a32 32 0 0 0 45.4 45.4l288-288a32 32 0 0 0 0-45.4l-288-288a32 32 0 1 0-45.4 45.4z'/%3E%3C/svg%3E");
}
.si--book-line {
  display: inline-block;
  margin-left: 10%;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%231A8A5A' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M12 7.333C12 5.5 10.5 4 8.667 4H2v12h6.708C12 16 12 19.334 12 19.334m0-12C12 5.5 13.5 4 15.333 4H22v12h-6.667C12 16 12 19.334 12 19.334m0-12v12m1.875 1.124A2.58 2.58 0 0 1 16.167 19H21m-10.875 1.458A2.54 2.54 0 0 0 7.833 19H3'/%3E%3C/svg%3E");
}

.planos{
    position: relative;
    float: left;
    justify-content: center;
    height: 300px;
    width: 30%;
    background-color: white;
    border-radius: 30px;
    border: 1px solid gray;
    
    
}
.solar--card-bold {
  display: inline-block;
   margin-left: 10%;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cmask id='SVGBcZ8Eejn'%3E%3Cg fill='none'%3E%3Cpath fill='%23fff' d='M14 4h-4C6.229 4 4.343 4 3.172 5.172c-.844.843-1.08 2.057-1.146 4.078h19.948c-.066-2.021-.302-3.235-1.146-4.078C19.657 4 17.771 4 14 4m-4 16h4c3.771 0 5.657 0 6.828-1.172S22 15.771 22 12q0-.662-.002-1.25H2.002Q1.999 11.338 2 12c0 3.771 0 5.657 1.172 6.828S6.229 20 10 20'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5.25 16a.75.75 0 0 1 .75-.75h4a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75m6.5 0a.75.75 0 0 1 .75-.75H14a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75' clip-rule='evenodd'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%231A8A5A' d='M0 0h24v24H0z' mask='url(%23SVGBcZ8Eejn)'/%3E%3C/svg%3E");
}
.planosh3{
    position: relative;
    margin-left: 10%;
    font-size: 24px;
    color: #1C2333;
}
.planosp{
    width:80%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    position: relative;
    font-size: 20px;
    margin: 50px auto;
    text-align: center;
}
.planosp1{
    color: #E85D1A;
    position: relative;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.tecnico{
    position: relative;
    align-items: center;
    position: relative;
    height: 300px;
    width: 30%;
    background-color: white;
    border-radius: 30px;
    border: 1px solid gray;
}
.codicon--law {
  display: inline-block;
  margin-left: 10%;
  margin-top: 15px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%231A8A5A' d='m10.039 7.307l-.003.007l-.004.012l-.011.031l-.003.012l-.011.052l-.004.03q-.002.024-.002.049c0 1.378 1.122 2.5 2.5 2.5s2.5-1.122 2.5-2.5l-.002-.049l-.004-.03l-.003-.017l-.008-.035l-.003-.012l-.011-.031l-.004-.012l-.003-.007v-.003l-1.722-4.305h.761a.5.5 0 0 0 0-1H3a.5.5 0 0 0 0 1h.761L2.039 7.304v.003l-.003.007l-.004.012l-.011.031l-.003.012l-.011.052l-.004.03q-.002.024-.002.049c0 1.378 1.122 2.5 2.5 2.5s2.5-1.122 2.5-2.5l-.002-.049l-.004-.03l-.003-.017l-.008-.035l-.003-.012l-.011-.031l-.004-.012l-.003-.007v-.003L5.241 2.999h2.761v8h-2.5c-.827 0-1.5.673-1.5 1.5s.673 1.5 1.5 1.5h6c.827 0 1.5-.673 1.5-1.5s-.673-1.5-1.5-1.5h-2.5V3h2.761l-1.722 4.305v.003zM4.5 3.846L5.762 7H3.239zM4.5 9a1.5 1.5 0 0 1-1.414-1h2.828c-.207.582-.762 1-1.414 1m7.5 3.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h6a.5.5 0 0 1 .5.5m.5-3.5a1.5 1.5 0 0 1-1.414-1h2.828c-.207.582-.762 1-1.414 1m-1.262-2L12.5 3.846L13.762 7z'/%3E%3C/svg%3E");
}
.tecnicoh3{
    position: relative;
    margin-left: 10%;
    font-size: 24px;
    color: #1C2333;
}
.tecnicop{
    width:80%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    position: relative;
    font-size: 20px;
    text-align: center;
    margin:50px auto;
}
.tecnicop1{
    color: #E85D1A;
    position: relative;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.fale{
    position: relative;
    color: #1C2333;
    margin-top: 100px;
    font-size: 60px;
    height: 60px;
    font-family:Montserrat
}
.fale span{
    color: #E85D1A;
}
.preencha{
    position: relative;
    color: #1C2333;
    font-size: 30px;
    height: 67px;
    width: 40%;
    text-align: center;
    margin-top: 20px;
}
#form{
    position: relative;
    height: 659px;
    width: 45%;
    border-radius: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    margin: 80px auto;
}
form{
    width: 90%;
    margin-top: 50px;
    
}
label{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 5px;
}
input{
    font-size: 15px;
    padding: 10px;
    outline:none;
    margin-bottom: 30px;
    border-radius: 5px;
   
    
}
.nome{
    display: flex;
    flex-direction: column;
    width: 45%;
    float:left
}
.email{
    display: flex;
    flex-direction: column;
    width: 45%;
    float: left;
    margin-left:10%
}
.assunto{
    display: flex;
    flex-direction: column;
    width: 100%;
    float:left
}
.mensagem{
    display: flex;
    flex-direction: column;
    width: 100%;
    float:left;
}
.mensagem input{
    height: 100px
}
#form button{
     background-color: #1A8A5A;
     height:50px;
     color: white;
     width:45%;
     font-size:20px;
     border-radius:15px
}

